@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$navy: #001e38;
$green: #15b78f;
$gray: lightgray;
$white: whitesmoke;
$light-button:#d9d9d9;
$dark-green: #15a18f;
$dark: black;

%full-height {
  height: 100%;
}

%app-background{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-repeat: no-repeat;
}

body, #root, .app{
  @extend %full-height;
}

html {
  @extend %full-height;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.content{
  height: 100%;
  @extend %app-background;
}

.content__main-section{
  position: relative;
  top: 20%;
  margin: 0 auto;
}

.desk__container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .desk__container {
    flex-direction: column;  
  }
}

@mixin scale($scale, $time) {
  transition: transform $time; /* Animation */
  &:hover{
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -ms-transform: scale($scale);
  }
}

@mixin shadow($blur-radius, $spread-radius) {
  -webkit-box-shadow: 4px 6px $blur-radius $spread-radius rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 6px $blur-radius $spread-radius rgba(0,0,0,0.4);
  box-shadow: 4px 6px $blur-radius $spread-radius rgba(0,0,0,0.4);
}
@mixin text-shadow() {
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

@mixin transition($duration) {
  -webkit-transition-duration: $duration; /* Safari */
  transition-duration: $duration;
}
@mixin fadein($time) {
  -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein $time; /* Firefox < 16 */
      -ms-animation: fadein $time; /* Internet Explorer */
        -o-animation: fadein $time; /* Opera < 12.1 */
          animation: fadein $time;
}

@mixin fadeout($time) {
  -webkit-animation: fadeout $time; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadeout $time; /* Firefox < 16 */
      -ms-animation: fadeout $time; /* Internet Explorer */
        -o-animation: fadeout $time; /* Opera < 12.1 */
          animation: fadeout $time;
  
}

%center-vertically{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%border-shared{
  border-radius: 5px;
}

%heading-shared{
  color: $white;
  font-weight: bold;
}

%desk-shared {
  margin: 20px;
  padding: 10px;
  @extend %border-shared;
  -webkit-box-shadow: 4px 6px 10px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 6px 10px 3px rgba(0,0,0,0.4);
  box-shadow: 4px 6px 10px 3px rgba(0,0,0,0.4);
  @include scale(1.1, .4s);
  @include shadow(10px, 3px);
}

.desk{
  @include fadein(0.5s);
  @extend %desk-shared; 
  background-color: $gray;
  min-height: 200px;
}
.desk__create{
  @extend %desk-shared;
  background-color: $green;
}

.create-form {
  @extend %border-shared;
  background-color: $dark-green;
  padding: 20px;
}

.create-form__heading{
  text-align: center;
  @extend %heading-shared;
  font-size: 1.7rem;
}

.create-form__input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-form__button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
.create-form__button{
  width: 40%;
  background-color: transparent;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @include transition(.2s);

  &:hover{
    color: $light-button;
    @include text-shadow();
  } 
}

.error-info{
  font-size: 1.2rem;
  color: $light-button;
}

.create-form__button_submit{
  background-color: $light-button;
  color: $dark;
  @include shadow(5px, -5px);

  &:hover{
    background-color: transparent;
    box-shadow: none;
  } 
}

.desk_pointed{
  cursor: pointer;
}

.desk__create-content{
  @extend %center-vertically;
  min-height: 3rem;
}
.desk__heading{
  text-align: center;
  @extend %heading-shared;
  font-size: 2.7rem;
}
.desk__content{
  @extend %center-vertically;
}
.desk__delete{
  float: right;
  font-size: 1.5rem;
  &:hover{
    color: lightcoral;
  }
}
.desk_fadeout{
  @include fadeout(0.5s);
}
.content__heading{
  text-align: center;
  color: $green;
  font-weight: bold;
  font-size: 3.5rem;

  &:after {
    content: '👋';
    display: inline-block;
    transform: rotate(-20deg);
    animation: wave .75s infinite linear alternate;
  }
}

@import './animations.scss';