@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './mixins.scss';

$navy: #001e38;
$green: #15b78f;
$light-green: #32e67d;
$gray: lightgray;
$white: whitesmoke;
$light-button:#d9d9d9;
$dark-green: #15a18f;
$dark: black;
$app-background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

%full-height {
  height: 100%;
}

%app-background{
  background-image: $app-background-image;
  background-repeat: no-repeat;
}

body, #root, .app{
  @extend %full-height;
}

html {
  @extend %full-height;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.content{
  height: 100%;
  @extend %app-background;
}

.content__main-section{
  position: relative;
  top: 20%;
  margin: 0 auto;
}

%container-shared{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.desk__container{
  @extend %container-shared;
}

.section__container{
  @extend %container-shared;
  align-items: flex-start;

}


@media (max-width: 700px) {
  .desk__container {
    flex-direction: column;  
  }
}

%center-vertically{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%border-shared{
  border-radius: 5px;
}

%heading-shared{
  color: $white;
  font-weight: bold;
}

%desk-shared {
  margin: 20px;
  padding: 10px;
  min-height: 200px;
  @extend %border-shared;
  @include scale(1.1, .4s);
  @include shadow(10px, 3px);
}

.desk{
  @include fadein(0.5s);
  @extend %desk-shared; 
  background-color: $gray;
}
.desk__create {
  @extend %desk-shared;
  background-color: $green;
}

.create-form {
  @extend %border-shared;
  background-color: $dark-green;
  padding: 20px;
}

.create-form__heading{
  text-align: center;
  @extend %heading-shared;
  font-size: 1.7rem;
}

%input-shared {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create-form__input{
  @extend %input-shared;
}

.create-form__button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

%button-shared {
  width: 40%;
  background-color: transparent;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  @include transition(.2s);
  &:hover{
    color: $light-button;
    @include text-shadow();
  } 
}
.create-form__button{
  @extend %button-shared;
}

%button-shared-submit{
  @extend %button-shared;
  background-color: $light-button;
  color: $dark;
  @include shadow(5px, -5px);

  &:hover{
    background-color: transparent;
    box-shadow: none;
  } 
}

.create-form__button_submit{
  @extend %button-shared-submit;
}
.section__button{
  @extend %button-shared-submit;
  &:hover{
    color: $dark;
  }
}

.desk_pointed, .section_pointed{
  cursor: pointer;
}

.desk__create-content{
  @extend %center-vertically;
  min-height: 3rem;
}
.desk__heading, .section__heading{
  text-align: center;
  @extend %heading-shared;
  font-size: 2.7rem;
}
.desk__content{
  @extend %center-vertically;
}
.desk__delete{
  float: right;
  font-size: 1.5rem;
  &:hover{
    color: lightcoral;
  }
}
.desk_fadeout{
  @include fadeout(0.5s);
}

.content__heading_emoji{
  &:after {
    content: '👋';
    display: inline-block;
    transform: rotate(-20deg);
    animation: wave .75s infinite linear alternate;
  }
}

.content__heading{
  text-align: center;
  color: $green;
  font-weight: bold;
  font-size: 3.5rem; 
}

.error-info{
  font-size: 1.2rem;
  color: $light-button;
  
}
.error-info_black{
  font-style: italic;
  color: $dark;
}

.section__name-input{
  @extend %input-shared;
}

%section-shared{
  margin: 20px;
  padding: 10px;
  min-width: 250px;
  @extend %border-shared;
  @include shadow(10px, 3px);
}

.section{
  @extend %section-shared;
  background-color: $white;
}

.create-section{
  margin: 20px;
  padding: 10px;
  min-width: 250px;
  height: 150px;
  @extend %border-shared;
  @include scale(1.1, .4s);
  @include shadow(10px, 3px);
  background-color: $navy;
}
.create-section__content{
  @extend %center-vertically;
}
.section__heading_white{
  color: $white;
}

.section__heading_black{
  color: $dark;
}

.section_hovered{
  background-color: gray;
}

.card {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $light-green;
  @extend %border-shared;
  border-radius: 10px;
  @include shadow(10px, 0px);
}
.card__heading{
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 2.5rem; 
}